# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Build
build/
out/
*.jar
!gradle/wrapper/gradle-wrapper.jar

# Env
.env
.env.*
!.env.example

# Node
node_modules/

# Logs
*.log

# Configs
.claude/
.dockerignore
nginx/
*.conf

# Dev notes
*.md
!/README.md

# Archives
*.zip

# Resources
resources/

# Docker (prod)
docker-compose.prod.yml
